<div id="<%= dom_id teacher %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= teacher.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= teacher.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= teacher.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= teacher.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Account:</strong>
    <%= teacher.account_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Institution:</strong>
    <%= teacher.institution_id %>
  </div>
</div>
